* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#main-container {
  /* border: 1px red solid; */

  width: 100%;
}
#main-container img {
  /* border: 1px red solid; */
  height: 4rem;
  width: 4rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  text-decoration: none;
}
nav button {
  border: none;
  background-color: #eac715;
  padding: 12px 30px;
  border-radius: 5px;
  color: white;
  margin: 10px;
}

nav #nav-icon-bar {
  display: none;
}

nav .nav-icon-x {
  display: none;
}

.hero {
  /* border: 1px solid red; */
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;
}

.hero-content {
  flex: 1;
  margin: auto;
  padding: 20px 0;
}
.hero-content h1 {
  font-size: 3rem;
}
.hero-images {
  flex: 1;
}
.hero-images video {
  border-radius: 2rem;
}
.hero-btn button {
  border: none;
  background-color: #9236c1;
  padding: 12px 30px;
  border-radius: 5px;
  color: white;
  margin: 10px;
  transform: scale(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 1sec ease;
}
.hero-btn button:hover {
  background-color: #cc9be4;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.hero-btn button a {
  text-decoration: none;
  color: white;
}

/* services */

#services {
  /* border: 1px red solid; */
}
#services h2 {
  font-size: 2.5rem;
  text-align: center;
  padding: 5px 0;
}
.wrapper-container {
  /* border: 1px red solid; */
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 25px 0;
}
.card-details {
  flex-basis: 30%;
  margin: 10px 0px;
  padding: 20px 0px;
}
.card {
  border: 1px grey solid;
  text-align: center;
}

.card img {
  height: 12rem;
  width: 100%;
}
.card {
  width: 100%;
  height: 100%;
}
.card h1 {
  padding: 10px 0;
}
.card p {
  padding: 3px 0;
  font-size: 14px;
}
.card button {
  border: none;
  background-color: #eac715;
  padding: 12px 30px;
  border-radius: 5px;
  color: white;
  margin: 10px 0;
}
.card-content button a {
  text-decoration: none;
}

/* contact */

#contact {
  /* border: 1px red solid; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe {
  /* border: 1px red solid; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 1rem 0;
}
.subscribe h1 {
  font-size: 2.2rem;
  margin: 1rem 0;
}
.subscribe span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subscribe span input {
  width: 40%;
  border-radius: 1rem;
  height: 40px;
}
.subscribe span button {
  border-radius: 1rem;
  width: 32%;
  height: 40px;
  background-color: #eac715;
  color: white;
}

.footer-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 4rem 0;
}
.footer1,
.footer2,
.footer3,
.footer4 {
  flex-basis: 25%;
  /* border: 1px red solid; */
  /* justify-content: center; */
  list-style: none;
  /* display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; */
}
.footer1 li,
.footer2 li,
.footer3 li,
.footer4 li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: gray;
  line-height: 2.5rem;
}
.footer1 h1,
.footer2 h1,
.footer3 h1,
.footer4 h1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  line-height: 4rem;
}

.footer1 .icons {
  text-align: center;
}

/* getinvolved */

#getinvolved {
  /* border: 1px red solid; */
  margin: 5rem 0;
}
.wrapper-getinvolved {
  /* border: 1px red solid; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.getinvolved-img {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  filter: blur(3px);
  transition: filter 0.8s ease;
}
.getinvolved-img img {
  height: 25rem;
  border-radius: 0.8rem;
}
.getinvolved-img:hover {
  filter: blur(0);
}
.getinvolved-content {
  width: 100%;
  line-height: 2.5rem;
}
.getinvolved-content h1 {
  padding: 10px 0;
}
.getinvolved-content p {
  padding: 10px 0;
}

/* who we are */
#whoweare {
  background: linear-gradient(to left top, #eac715, #8b53ff);
}

.wrapper-whoweare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}
.wrapper-whoweare .whoweare-content {
  text-align: center;
  line-height: 1.8rem;
  width: 80%;
}
.wrapper-whoweare .whoweare-content h1 {
  font-size: 2.3rem;
  margin-bottom: 25px;
}
/* slider */
/* Import Google font - Poppins */

.slider {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  /* background: linear-gradient(to left top, #031a9a, #8b53ff); */
}
.wrapper {
  max-width: 900px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 260px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #eac715;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.carousel .card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card p {
  margin: 12px 0;
}
.main-container-menu-resp {
  display: none;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* responsive */

/* @media only screen and (min-width: 576px) {
}
@media only screen and (max-width: 576px) {
} */
@media only screen and (max-width: 768px) {
  /* new css starts */
  .main-container-menu-resp {
    display: none;
  }

  .menu-btn-open {
    display: block;
    color: #9236c1;
  }

  .main-container-menu-resp.menu-btn-open-resp {
    display: none;
    flex-direction: column;
    align-items: center; /* Vertically align the items */
    justify-content: space-around; /* Horizontally center the items */
    position: fixed; /* Use fixed positioning to keep the sidebar visible */
    top: 0;
    right: 0;
    background: white;
    width: 70%; /* Adjust the width as per your preference */
    height: 100vh; /* Use the full viewport height */
    padding: 140px 0; /* Add some padding for better spacing */
    z-index: 99; /* Set a high z-index to ensure it appears above other elements */
  }

  .main-container-menu-resp.menu-btn-open-resp li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Add some margin between the list items */
  }
  /* new css ends */

  .menu-btn-open {
    display: block;
    color: #9236c1;
  }
  .main-container-menu-resp {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background: white;
    width: 40%;
    height: 70%;
    /* padding-left: 10%; */
  }
  .main-container-menu-resp li {
    display: flex;
    justify-content: center;
  }
  .main-container-menu,
  nav .nav-btn {
    display: none;
  }
  nav #nav-icon-bar {
    display: block;
    padding: 10px;
    cursor: pointer;
  }

  .hero {
    margin: auto;
    width: 55%;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
  .subscribe h1 {
    text-align: center;
  }
  .subscribe span {
    flex-direction: column;
  }
  .subscribe span input {
    width: 70%;
    margin: 1rem;
  }
  .subscribe span button {
    width: 40%;
  }
  .footer1,
  .footer2,
  .footer3,
  .footer4 {
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper-container {
    flex-direction: column;
    width: auto;
    padding: 0;
  }
  .footer-main {
    flex-direction: column;
    margin: 0;
  }
  .hero {
    margin: auto;
    width: 75%;
    flex-direction: column-reverse;
  }
  .wrapper-getinvolved {
    flex-direction: column;
  }
  .getinvolved-img img {
    height: 14rem;
  }
  .getinvolved-content {
    width: 80%;
  }

  .slider {
    width: 100%;
  }
  .card-details {
    padding: 20px;
    margin: 0;
  }
  .card img {
    height: auto;
  }
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1400px) {
}

/* Add this CSS code at the end of your existing CSS code */
.menu-btn-open ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-btn-open ul li {
  margin: 5px 0;
}

.menu-btn-open.show ul {
  opacity: 1;
  visibility: visible;
}

#nav-icon-bar {
  display: block;
}

/* Add this CSS code at the end of your existing CSS code */
@media only screen and (max-width: 768px) {
  /* .menu-btn-open .main-container-menu {
    display: block;
  } */

  .menu-btn-open .nav-btn {
    display: none;
  }

  .nav-icon-x {
    display: block;
    z-index: 100;
  }

  .main-container-menu-resp.show {
    display: block;
  }
}

/* sdfds */
#nav-icon-x {
  display: none;
  position: absolute;
  top: 5%;
  right: 3%;
  cursor: pointer;
}

.menu-btn-open-resp #nav-icon-x {
  display: block;
}

.menu-btn-open-resp .nav-icon-bar {
  display: none;
}
